.form-page {
  margin: 0 30px;
}


form {
  background: #FFF;
  max-width: 80vh;
  padding: 10px;
  border-radius: 10px;
  /* display: flex; */
  flex-direction: column;
  margin-bottom: 30px;
}

.input-container {
  display: flex;
  /* justify-content: space-around; */
}
.input {
  margin: 0 30px;
}

.input input {
  margin-bottom: 30px;
}

.input select {
  width: 200px;
  height: 30px;
}

.submit {
  align-self: flex-end;
  margin-top: 10px;
  margin-left: 30px;
  padding: 10px 30px;
  font-weight: 600;
  font-size: .8rem;
  margin-right: 20px;
}

.disabled {
  background: var(--block);
}

.cancel {
  margin-left: 30px;
  background: var(--cancel);
  padding: 8px 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  /* display: block; */
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 4px;

}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}